@tailwind base;
@tailwind components;
@tailwind utilities;

/*Injecting our custom classes to the tailwind
component layer  */
@layer components {
  .navBtn {
    @apply hidden h-6 md:inline-flex
		cursor-pointer hover:scale-125  
		transition-all duration-150 ease-out;
  }
  .btn {
    @apply h-7 hover:scale-125 cursor-pointer
  transition-all duration-150 ease-out hover:text-gray-500;
  }
  .storyBorder{
    @apply bg-image-conic-gradient()
  }
}

/* .conic-gradient:after {
  display: block;
  border-radius: 9999px;
  content: '';
  width: 108%;
  height: 108%;
  position: absolute;
  z-index: -1;
  left: -4%;
  top: -4%;
  
  background-image: conic-gradient(#dd0de5, #dd0de5, #f4486d, #ff6a26, #ff6a26,#e829ac);
  animation: spin 5s linear infinite;
}

@keyframes spin { 
  100% { 
    transform: rotate(360deg);
  }
} */